.DS_Store
.idea
.build
hack

# terraform states and log files
crash.log
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.d
.terraform.d
